<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
	<h1>Codigo AMI</h1>
	<h2>Por favor introduce tu usario y contraseña</h2>

	<% if error %>
	<p class="error">No existe su nombre de usuario o su contraseña es incorrecta</p>
	<% end %>

	<form action="/login" method="POST">
	
		<label for="user_name">Nombre de Usuario</label>
		<input id="user_name" name="user_name" type="text" placeholder="Nombre de Usuario"/>

	<br/>

		<label for="password">Password</label>
		<input id="password" type="password" name="password" placeholder="Password"/>
	<br/>

		<button type="submit">Inicia Sesión</button>
	<br/>
</form>
</body>
</html>