<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
</head>
<body>
	<h1>Codigo AMI</h1>
	<h3>Por favor ingresa tus datos</h3>
	<em>Nota: Todos los campos son requeridos</em>

  <br />
    
  <form action="/sign_up" method="POST">
  	
  	<label for="name">Nombre</label>
    <input id="name" name="name" type="text" placeholder="Nomre" required="" />
    <br />

    <label for="lastname">Primer Apellido</label>
    <input id="lastname" name="lastname" type="text" placeholder="Primer Apellido" required="" />
    <br />

    <label for="user_name">Nombre de Usuario</label>
  	<input id="user_name" name="user_name" type="text" placeholder="Nombre de Usuario" required="" />
  	<br />

  	<label for="pass1">Escribe un Password</label>
  	<input id="pass1" type="password" name="pass1" placeholder="Password" minlength="8" maxlength="40" required=""/>
    <br />

    <label for="pass2">Confirma tu password</label>
    <input id="pass2" type="password" onchange="javascript:myFunction()" name="pass2" placeholder="Confirma tu Password">
    <br />

    <p><em>El Password debe de ser al menos de ocho caracteres y un símbolo</em></p>

    <label for="email">email </label>
    <input id="email" email="email" type="email" placeholder="doctor@abc.com" required="" />
    <br />

  	<label for="phone">Teléfono</label>
  	<input id="phone" name="phone" type="tel" placeholder="(55)5555-5555" required="" minlength="10" maxlength="10" />
  	<br />

  	<label for="user_type">Tipo de Usuario</label>
  	<select name="user_type" required="">
  		<optgroup label="user_type">
        <option>Escoge el tipo de usuario</option>
      </optgroup>
  		  <option value="leader">Team Leader</option>
        <option value="cardio">Cardiólogo</option>
        <option value="hx">Hemodinamista</option>
  		  <option value="er">Medico de urgencias</option>
  	</select>
  	<br />

  	<button type="submit">Inicia Sesión</button>

  </form>

  <script>
    function myFunction () {
        var pass1=document.getElementById("pass1").value;
        var pass2=document.getElementById("pass2").value;
        if (pass1 != pass2) {
          alert("Las contraseñas no son iguales");
          document.getElementById("pass1").style.borderColor="#E34234";
          document.getElementById("pass2").style.borderColor="#E34234";
        } else {
          alert("Las contraseñas coinciden!!!");
        }
    }
  </script>
</body>
</html>