<header>
	<h1>Código AMI</h1>
</header>
<p>Bienvenido al sistema de activacion del <b>CODIGO AMI</b>, por favor ingresa tus datos, si aun no cuentas con un usuario y contraseña por favor regiístrate primero</p> 
<a href="/sign_up">Regístrate</a>
<br />

<a href="/login">Inicia sesión</a>
